language: rust

env:
 global:
   - RUST_BACKTRACE=1

rust:
  - stable
  - beta
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - rust: nightly

before_script:
  - rustup component add clippy
  - rustup component add rustfmt

script:
  - cargo build
  - cargo clippy -- -A clippy::large_enum_variant -D clippy::all
  - cargo fmt -- --check
