[package]
name = "helium-proto"
version = "0.1.0"
authors = ["Helium <info@helium.com>"]
edition = "2021"
license = "Apache-2.0"

[lib]
name = "helium_proto"
path = "src/lib.rs"

[workspace]
members = ["beacon"]

[workspace.dependencies]
# Pin to 0.10 to avoid issues with tls and solana dalek deps
tonic = { version = "0.12" }
bytes = "1"
prost = "0.13"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tonic-build = { version = "0.12" }
prost-build = "0.13"

[features]
default = []
services = ["tonic-build", "tonic"]

[dependencies]
tonic = { workspace = true, optional = true }
bytes = { workspace = true }
prost = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
strum = { version = "0.26.3", features = ["derive"] }
strum_macros = "0.26.4"

[build-dependencies]
tonic-build = { workspace = true, optional = true }
prost-build = { workspace = true }
