{erl_opts, [
            debug_info,
            {i, "./_build/default/plugins/gpb/include"},
            warnings_as_errors
           ]}.


{plugins, [rebar3_gpb_plugin]}.

{provider_hooks, [
                  {pre, [
                         {compile, {protobuf, compile}},
                         {clean, {protobuf, clean}}
                        ]}
                 ]}.

{gpb_opts, [
            {i, "src"},
            {o_erl, "src/pb"},
            {o_hrl, "include"},
            {module_name_prefix, ""},
            {module_name_suffix, "_pb"},
            {msg_name_prefix, ""},
            {msg_name_suffix, "_pb"},
            {strings_as_binaries, false},
            type_specs
           ]}.
