{erl_opts, [
            debug_info,
            {i, "./_build/default/plugins/gpb/include"},
            warnings_as_errors
           ]}.

{deps, [
        {grpcbox, {git, "https://github.com/andymck/grpcbox.git", {branch, "andymck/ts-master/stream-handler-changes"}}}
       ]}.

{plugins, [
           {grpcbox_plugin, {git, "https://github.com/andymck/grpcbox_plugin.git", {branch, "andymck/ts-master/combined-opts-and-template-changes"}}},
           {rebar3_gpb_plugin, "2.15.0"}
          ]}.

{provider_hooks, [
                  {pre, [
                         {compile, {protobuf, compile}},
                         {clean, {protobuf, clean}}
                        ]}
                 ]}.

{gpb_opts, [
            {i, "src"},
            {recursive, false},
            {o_erl, "src/pb"},
            {o_hrl, "include"},
            {module_name_prefix, ""},
            {module_name_suffix, "_pb"},
            {msg_name_prefix, ""},
            {msg_name_suffix, "_pb"},
            {strings_as_binaries, false},
            type_specs
           ]}.
